{% extends "dashboard.html" %}
{% block title %}HOME{% endblock %}
{% block style %}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

div.header {
    padding: 15px;
}

input[type=checkbox] {
 -ms-transform: scale(2); /* IE */
 -moz-transform: scale(2); /* FF */
 -webkit-transform: scale(2); /* Safari and Chrome */
 -o-transform: scale(2); /* Opera */
  padding: 10px;
}

select.input-lg {
    padding:10px;
}
div.row {
    color: #7a858f;
    font-size: 13px;
    display: block;
    user-select: none;
    cursor: pointer;
    font-family: "Open Sans", "Martel Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
{% endblock %}

{% block content %}
<script>
function myFunc() {
  var x = document.getElementById("transport");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
<div class="column2" style="height: 100%">
    <div class="card" style="height: 100%">
        <div class="header" style="border-bottom: 1px solid #7a858f; padding-bottom:10px;">
            <p style="font-size: large">Add New Quote</p>
        </div>
        <form class="form-horizontal" style="height: 85%" id="form1" action="{% url 'save_quote' %}" method="post">
           {% csrf_token %}
            <div class="container-fluid" style="height: 85%; margin:0px">
                <div class="row" style="border-bottom: 1px solid #7a858f; padding-bottom:10px; padding-top:20px; background-color:#f9fafb;">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="inputlg1" class="col-md-2 control-label" style="text-align:left">Client Name</label>
                            <div class="col-md-10" id="hiddeninput">
                                <select class="form-control" id="inputlg1" name="clientname">
                                    {% for cl in client %}
                                        <option value="{{ cl.cust_name }}">{{ cl.cust_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="border-bottom: 1px solid #7a858f; padding-top:20px; padding-bottom:10px">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputlg2" class="col-md-3 control-label" style="text-align:left">Quotation No</label>
                                    <div class="col-md-4">
                                        <input class="form-control input-lg" name="invoiceno1" id="inputlg2" type="text">
                                    </div>
                                    <div class="col-md-5">
                                        <input class="form-control input-lg" name="invoiceno2" id="" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputlg3" class="col-md-4 control-label" style="text-align:right">Quotation Date</label>
                                    <div class="col-md-8">
                                        <input class="form-control input-lg" id="inputlg3" name="invoicedate" type="date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputlg6" class="col-md-3 control-label" style="text-align:left">PO Number</label>
                                    <div class="col-md-9">
                                     <input class="form-control input-lg" id="inputlg6" name="pono" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputlg5" class="col-md-4 control-label" style="text-align:right">Valid Until</label>
                                    <div class="col-md-8">
                                        <input class="form-control input-lg" id="inputlg5" name="duedate" type="date">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="header1" style="padding-top:10px;">
                    <p style="font-size: large"><strong>Quotation</strong></p>
                </div>
                <div class="row" style="margin-left:-30px; margin-right:-30px">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped" align="right" cellpadding="0" cellspacing="0"  style="width:100%" id="myTable">
                              <thead class="thead-light" style="width:100%; background-color:#dce4e9">
                                <tr>
                                    <th class="col-md-1">No</th>
                                    <th class="col-md-5">Item Name</th>
                                    <th class="col-md-1" style="text-align:center;">Unit</th>
                                    <th class="col-md-1" style="text-align:center;">Qty</th>
                                    <th class="col-md-1" style="text-align:center;">Price</th>
                                    <th class="col-md-1" style="text-align:center;">Discount (%)</th>
                                    <th class="col-md-1" style="text-align:center;">Tax</th>
                                    <th class="col-md-1" style="text-align:center;">Total</th>
                                </tr>
                              </thead>
                                <tbody id="myTabl" style="width:100%;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-1">1</div>
                            <script>
                                function setMail(){
                                    <!--get value-->
                                        var e = document.getElementById("itemname")
                                        var u = document.getElementById("unit");
                                        var t = document.getElementById("tax");
                                        var itemname = e.options[e.selectedIndex].value;
                                        {% for x in prod %}
                                        var name = "{{x.name}}"
                                        var unit = "{{x.unit}}"
                                        var qty = "{{x.quantity}}"
                                        var price = "{{x.sales_unit_price}}"
                                        var tax = "{{x.tax}}"
                                            if (name == itemname) {
                                                document.getElementById("qty").value = qty;
                                                document.getElementById("price").value = price;
                                                for(i=0; i<u.options.length;i++){
                                                    if (u.options[i].value == unit) {
                                                        u.selectedIndex = i;
                                                        break;
                                                    }
                                                }
                                                for(i=0; i<t.options.length;i++){
                                                    if (t.options[i].text == tax) {
                                                        t.selectedIndex = i;
                                                        break;
                                                    }
                                                }
                                            }
                                        {% endfor %}
                                }
                            </script>
                            <div class="col-md-5">
                                <div class="form-group" style="padding:0px; margin:0px;">
                                    <div class="col-md-12" style="padding:0px; margin:0px;">
                                        <select class="form-control input-lg sel" id="itemname" name="itemname" onChange="return setMail()">
                                            <option value="" ></option>
                                        {% for cl in prod %}
                                            <option value="{{ cl.name }}" >{{ cl.name }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1" >
                                <div class="form-group" style="padding:0px; margin-right:0px;">
                                    <div class="col-md-12" style="padding:0px; margin:0px;">
                                        <select class="form-control input-lg sel" id="unit" name="clientname1">
                                            <option value="" ></option>
                                        {% for cl in unit %}
                                            <option value="{{ cl.unit_type }}" >{{ cl.unit_type }}</option>
                                        {% endfor %}
                                        {% for cl in userunit %}
                                            <option value="{{ cl.unit_type }}" >{{ cl.unit_type }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1" >
                                <div class="form-group" style="padding:0px; margin-right:0px;">
                                    <div class="col-md-12" style="padding:0px; margin:0px;">
                                        <input class="form-control input-lg" id="qty" type="number" style="padding:10px; margin:0px;" value="1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1" >
                                <div class="form-group" style="padding:0px; margin-right:0px;">
                                    <div class="col-md-12" style="padding:0px; margin:0px;">
                                        <input class="form-control input-lg" id="price" type="number" style="padding:10px; margin:0px;">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="counter" name="counter" value="1">
                            <input type="hidden" id="totalp" name="totalp" value="0">
                            <input type="hidden" id="di" name="d" value="0">
                            <input type="hidden" id="tap" name="t" value="0">
                            <div class="col-md-1" >
                                <div class="form-group" style="padding:0px; margin-right:0px;">
                                    <div class="col-md-12" style="padding:0px; margin:0px;">
                                        <input class="form-control input-lg" id="discount" type="number" style="padding:10px; margin:0px;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1" >
                                <div class="form-group" style="padding:0px; margin-right:0px;">
                                    <div class="col-md-12" style="padding:0px; margin:0px;">
                                        <select class="form-control input-lg sel" id="tax" name="clientname3" >
                                            <option value="0" style="background-color: black;"></option>
                                        {% for cl in tax %}
                                            <option value="{{ cl.tax_value }}" >{{ cl.tax_category }} ({{ cl.tax_value }}%)</option>
                                        {% endfor %}
                                        {% for cl in usertax %}
                                            {%  if usertax  %}
                                                <option value="{{ cl.tax_value }}" >{{ cl.tax_category }} ({{ cl.tax_value }}%)</option>
                                            {%  endif %}
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1" >
                                <button type="button" class="btn btn-primary" onclick="myFunction()" style="padding:10px; font-size:15px">+ Add line</button>
                            </div>
                            <script>

                                function doit() {
                                  var x = document.getElementById("ytransport");
                                  if (x.style.display === "none") {
                                    x.style.display = "block";
                                  } else {
                                    x.style.display = "none";
                                  }
                                }

                                function myFunction() {
                                    <!--get value-->
                                    var e = document.getElementById("itemname")
                                    var p = document.getElementById("totalp").value
                                    itemname = e.options[e.selectedIndex].value;
                                    subtotalval = document.getElementById("subtotalval").innerText
                                    e = document.getElementById("unit")
                                    unit = e.options[e.selectedIndex].value;
                                    qty = document.getElementById("qty").value;
                                    price = document.getElementById("price").value;
                                    discount = document.getElementById("discount").value;
                                    if (discount == "") {
                                        discount = "0";
                                    }
                                    e = document.getElementById("tax");
                                    tax = e.options[e.selectedIndex].value;
                                    z = e.options[e.selectedIndex].text;
                                    desc = document.getElementById("desc").value;
                                    counter = document.getElementById("counter").value;
                                    var table = document.getElementById("myTabl");
                                    var div1 = document.createElement("div");
                                    var div2 = document.createElement("div");

                                    <!--insert row-->

                                    var row = table.insertRow(counter-1);
                                    var cell1 = row.insertCell(0);
                                    var cell2 = row.insertCell(1);
                                    var cell3 = row.insertCell(2);
                                    var cell4 = row.insertCell(3);
                                    var cell5 = row.insertCell(4);
                                    var cell6 = row.insertCell(5);
                                    var cell7 = row.insertCell(6);
                                    var cell8 = row.insertCell(7);
                                    cell1.innerHTML = counter;
                                    div1.innerHTML = itemname;
                                    div2.innerHTML = desc;
                                    cell2.appendChild(div1);
                                    cell2.appendChild(div2);
                                    cell3.innerHTML = unit;
                                    cell4.innerHTML = qty;
                                    cell5.innerHTML = price;
                                    cell6.innerHTML = discount;
                                    cell7.innerHTML = z;
                                    pr = parseInt(qty) * parseInt(price);
                                    cell8.innerHTML = pr - parseInt(discount) * parseInt(pr) / 100 + parseInt(tax) * parseInt(pr) / 100;

                                    <!--empty cells-->
                                    document.getElementById("itemname").value = '';
                                    document.getElementById("unit").value = '';
                                    document.getElementById("qty").value = '';
                                    document.getElementById("price").value = '';
                                    document.getElementById("discount").value = '';
                                    document.getElementById("tax").value = '';
                                    document.getElementById("desc").value = '';
                                    document.getElementById("totalp").value = parseInt(p) + parseInt(cell8.innerHTML);
                                    document.getElementById("subtotalval").innerText = parseInt(pr) + parseInt(document.getElementById("subtotalval").innerText);
                                    document.getElementById("totalval").innerText =  parseInt(document.getElementById("totalp").value);
                                    document.getElementById("di").value = parseInt(document.getElementById("di").value) + parseInt(discount) * parseInt(pr) / 100;
                                    document.getElementById("tap").value = parseInt(document.getElementById("tap").value) + parseInt(tax) * parseInt(pr) / 100;
                                    document.getElementById("taval").innerText = document.getElementById("tap").value;
                                    var ship = document.getElementById("shippingval").innerText;
                                    if (ship == "") {
                                        ship = "0";
                                    }
                                    document.getElementById("discval").innerText = document.getElementById("di").value;
                                    <!--create dummy hidden field-->
                                    var item = document.createElement("input");
                                    item.type = "hidden";
                                    item.value = String(itemname);
                                    item.name = "item" + counter;
                                    var unit1 = document.createElement("input");
                                    unit1.type = "hidden";
                                    unit1.value = unit;
                                    unit1.name = "unit" + counter;
                                    var qty1 = document.createElement("input");
                                    qty1.type = "hidden";
                                    qty1.value = String(qty);
                                    qty1.name = "qty" + counter;
                                    var price1 = document.createElement("input");
                                    price1.type = "hidden";
                                    price1.value = String(price);
                                    price1.name = "price" + counter;
                                    var discount1 = document.createElement("input");
                                    discount1.type = "hidden";
                                    discount1.value = String(discount);
                                    discount1.name = "discount" + counter;
                                    var tax1 = document.createElement("input");
                                    tax1.type = "hidden";
                                    tax1.value = String(tax);
                                    tax1.name = "taxu" + counter;
                                    var desc1 = document.createElement("input");
                                    desc1.type = "hidden";
                                    desc1.value = String(desc);
                                    desc1.name = "desc" + counter;
                                    var total1 = document.createElement("input");
                                    total1.type = "hidden";
                                    total1.value = String(cell8.innerHTML);
                                    total1.name = "total" + counter;


                                    var hid = document.getElementById("hiddeninput");
                                    hid.appendChild(item);
                                    hid.appendChild(unit1);
                                    hid.appendChild(qty1);
                                    hid.appendChild(price1);
                                    hid.appendChild(discount1);
                                    hid.appendChild(tax1);
                                    hid.appendChild(desc1);
                                    hid.appendChild(total1);
                                    document.getElementById("counter").value = parseInt(counter) + 1;

                                }
                            </script>
                        </div>
                    </div>
                </div>
                <div class="row" style="border-bottom: 1px solid #7a858f; padding-bottom:30px; padding-top:10px;">
                    <div class="col-md-1" style="padding:0px; margin:0px; border:10px"></div>
                    <div class="col-md-5">
                        <div class="form-group" style="padding:0px; margin:0px;">
                            <div class="col-md-12" style="padding:0px; margin:0px;">
                                <textarea class="form-control input-lg" rows="4" id="desc" style="padding:10px"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="border-bottom: 1px solid #7a858f; padding-bottom:10px; padding-top:20px;">
                    <div class="col-sm-8">
                        <div class="row" style="margin:0px; padding-bottom:20px">
                            <script>
                                function validate() {
                                    if (document.getElementById('hola').checked) {
                                        var x = document.getElementById("hola1");
                                        x.style.display = "block";
                                    } else {
                                        var x = document.getElementById("hola1");
                                        document.getElementById("val").innerText = 0;
                                        document.getElementById("val").value = 0;
                                        x.style.display = "none";
                                        z = document.getElementById("totalp").value;
                                        if (z == 0) {
                                            z = "0";
                                        }
                                        document.getElementById("totalval").innerText = z;
                                        document.getElementById("shippingval").innerText = "0";
                                    }
                                }
                                function keyup() {
                                    var x = document.getElementById("val").value;
                                    if (x == "") {
                                     x = "0";
                                    }
                                    document.getElementById("shippingval").innerText = x;
                                    var y = document.getElementById("totalp").value;
                                    if (y == "") {
                                        y = "0";
                                    }
                                    console.log(y);
                                    console.log(x);
                                    document.getElementById("totalval").innerText = parseInt(y) + parseInt(x);
                                    document.getElementById("totalp").value = parseInt(y) + parseInt(x);
                                }
                            </script>
                        <div class="form-group">
                            <div class="checkbox" style="padding:20px 20px 20px 0px" onclick="validate()">
                                <label class="col-md-12">
                                    <div class="col-md-3">
                                        <input id="hola" type="checkbox" name="shipping" value="">
                                        <span style="padding:20px; font-size:16px">Add shipping charges</span>
                                    </div>
                                    <div class="col-md-3" style="display:none" id="hola1">
                                        <input type="number" class="form-control input-lg" id="val" name="cship" value="0" onkeyup="keyup()">
                                    </div>
                                </label>
                            </div>
                        </div>
                        </div>
                        <p style="padding:0px 20px 40px 0px; color:#266a95; font-size:16px; display: none" class="show1" onclick="doit()">
                            + &ensp; Add Transport labels
                        </p>
                        <div class="row" id="ytransport" style="display:none">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-6">
                            <div class="form-group">
                                <label for="waybillno" class="col-md-5 control-label" style="text-align:left">Waybill No.</label>
                                <div class="col-md-7">
                                    <input class="form-control input-lg" id="waybillno" name="waybillno" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lr" class="col-md-5 control-label" style="text-align:left">LR No.</label>
                                <div class="col-md-7">
                                    <input class="form-control input-lg" id="lr" name="lr" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="challan" class="col-md-5 control-label" style="text-align:left">Challan No.</label>
                                <div class="col-md-7">
                                    <input class="form-control input-lg" id="challan" name="challan" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="vehicle" class="col-md-5 control-label" style="text-align:left">Vehicle No.</label>
                                <div class="col-md-7">
                                    <input class="form-control input-lg" id="vehicle" name="vehicle" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ship" class="col-md-5 control-label" style="text-align:left">Ship by</label>
                                <div class="col-md-7">
                                    <input class="form-control input-lg" id="ship" name="ship" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="t1" class="col-md-5 control-label" style="text-align:left">Transporter name</label>
                                <div class="col-md-7">
                                    <input class="form-control input-lg" id="t1" name="t1" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="t2" class="col-md-5 control-label" style="text-align:left">Transporter id</label>
                                <div class="col-md-7">
                                    <input class="form-control input-lg" id="t2" name="t2" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="t3" class="col-md-5 control-label" style="text-align:left">Transporter GSTIN</label>
                                <div class="col-md-7">
                                    <input class="form-control input-lg" id="t3" name="t3" type="text">
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <p style="height:40px;padding:20px 20px 0px 20px;">
                            <strong id="subtotal" style="float:left;font-size:16px;color:black">Subtotal:</strong>
                            <strong id="subtotalval" style="float:right;font-size:16px;padding:0px 20px 0px 0px;color:black">0</strong>
                        </p>
                        <p style="height:30px;padding:5px 20px 0px 20px;">
                            <strong id="shipping" style="float:left;font-size:16px;color:black">Shipping and Packaging:</strong>
                            <strong id="shippingval" style="float:right;font-size:16px;padding:0px 20px 0px 0px;color:black">0</strong>
                        </p>
                        <p style="height:30px;padding:0px 20px 0px 20px;">
                            <strong id="disc" style="float:left;font-size:16px;color:black">Discount:</strong>
                            <strong id="discval" style="float:right;font-size:16px;padding:0px 20px 0px 0px;color:black">0</strong>
                        </p>
                        <p style="height:30px;padding:0px 20px 0px 20px;">
                            <strong id="ta" style="float:left;font-size:16px;color:black">Total tax:</strong>
                            <strong id="taval" style="float:right;font-size:16px;padding:0px 20px 0px 0px;color:black">0</strong>
                        </p>
                        <p style="background-color:#f8fafc;height:40px;padding:10px;">
                            <strong id="totalv" style="float:left;color:green;font-size:16px">Total:</strong>
                            <strong id="totalval" style="float:right;font-size:16px;padding:0px 20px 0px 0px;color:green">0</strong>
                        </p>
                    </div>
                </div>
                <div class="row" style="border-bottom: 1px solid #7a858f; padding-bottom:30px; padding-top:20px; background-color:#f9fafb;">
                    <div class="col-md-6">
                        <p>Terms and Conditions</p>
                        <div class="form-group" style="padding:0px; margin:0px;">
                            <textarea class="form-control input-lg" rows="4" name="terms" style="padding:10px"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>Private notes&ensp;(not shown to client)</p>
                        <div class="form-group" style="padding:0px; margin:0px;">
                            <textarea class="form-control input-lg" name="notes" rows="4" style="padding:10px"></textarea>
                        </div>
                    </div>
                </div>
                <div class="fixed-bottom" style="padding-bottom:20px; padding-top:20px;">
                    <input type="submit" class="btn btn-success btn-lg" value="Preview and save">
                    <input type="button" class="btn btn-info btn-lg" value="Cancel">
                </div>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}