{% extends "dashboard.html" %}
{% block title %}HOME{% endblock %}
{% block style %}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

div.header {
    padding: 15px;
}

input[type=checkbox] {
 -ms-transform: scale(2); /* IE */
 -moz-transform: scale(2); /* FF */
 -webkit-transform: scale(2); /* Safari and Chrome */
 -o-transform: scale(2); /* Opera */
  padding: 10px;
}

div.row {
    color: #7a858f;
    font-size: 13px;
    display: block;
    user-select: none;
    cursor: pointer;
    font-family: "Open Sans", "Martel Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
{% endblock %}

{% block content %}
<div class="column2" style="height: 100%">
    <div class="card" style="height: 100%">
        <div class="header" style="border-bottom: 1px solid #7a858f; padding-bottom:10px;">
            <p style="font-size: large">Add New Invoice</p>
        </div>
        {% csrf_token %}
        <form class="form-horizontal" style="height: 85%" id="form1">
            <div class="container-fluid" style="height: 85%; margin:0px">
                <div class="row" style="border-bottom: 1px solid #7a858f; padding-bottom:10px; padding-top:20px; background-color:#f9fafb;">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="inputlg1" class="col-md-2 control-label" style="text-align:left">Client Name</label>
                            <div class="col-md-10" id="hiddeninput">
                                <input class="form-control input-lg" id="inputlg1" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="border-bottom: 1px solid #7a858f; padding-top:20px; padding-bottom:10px">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputlg2" class="col-md-3 control-label" name="invoiecno" style="text-align:left">Invoice no</label>
                                    <div class="col-md-4">
                                        <input class="form-control input-lg" id="inputlg2" type="text">
                                    </div>
                                    <div class="col-md-5">
                                        <input class="form-control input-lg" id="" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputlg3" class="col-md-4 control-label" name="invoicedate" style="text-align:right">Invoice Date</label>
                                    <div class="col-md-8">
                                        <input class="form-control input-lg" id="inputlg3" type="date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputlg4" class="col-md-4 control-label" name="paymentterms" style="text-align:right">Payment Terms</label>
                                    <div class="col-md-8">
                                        <input class="form-control input-lg" id="inputlg4" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputlg6" class="col-md-3 control-label" name="pono" style="text-align:left">PO no</label>
                                    <div class="col-md-9">
                                        <input class="form-control input-lg" id="inputlg6" type="number">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputlg5" class="col-md-4 control-label" name="duedate" style="text-align:right">Due Date</label>
                                    <div class="col-md-8">
                                        <input class="form-control input-lg" id="inputlg5" type="date">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header1" style="padding-top:10px;">
                    <p style="font-size: large"><strong>Invoice</strong></p>
                </div>
                <div class="row" style="margin-left:-30px; margin-right:-30px">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped" align="right" cellpadding="0" cellspacing="0"  style="width:100%" id="myTable">
                              <thead class="thead-light" style="width:100%; background-color:#dce4e9">
                                <tr>
                                    <th class="col-md-1">No</th>
                                    <th class="col-md-5">Item Name</th>
                                    <th class="col-md-1" style="text-align:center;">Unit</th>
                                    <th class="col-md-1" style="text-align:center;">Qty</th>
                                    <th class="col-md-1" style="text-align:center;">Price</th>
                                    <th class="col-md-1" style="text-align:center;">Discount (%)</th>
                                    <th class="col-md-1" style="text-align:center;">Tax</th>
                                    <th class="col-md-1" style="text-align:center;">Total</th>
                                </tr>
                              </thead>
                                <tbody id="myTabl" style="width:100%;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-1">1</div>
                            <div class="col-md-5">
                                <div class="form-group" style="padding:0px; margin:0px;">
                                    <div class="col-md-12" style="padding:0px; margin:0px;">
                                        <input class="form-control input-lg" id="itemname" type="text" style="padding:10px">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1" >
                                <div class="form-group" style="padding:0px; margin-right:0px;">
                                    <div class="col-md-12" style="padding:0px; margin:0px;">
                                        <input class="form-control input-lg" id="unit" type="text" style="padding:10px; margin:0px;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1" >
                                <div class="form-group" style="padding:0px; margin-right:0px;">
                                    <div class="col-md-12" style="padding:0px; margin:0px;">
                                        <input class="form-control input-lg" id="qty" type="number" style="padding:10px; margin:0px;" value="1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1" >
                                <div class="form-group" style="padding:0px; margin-right:0px;">
                                    <div class="col-md-12" style="padding:0px; margin:0px;">
                                        <input class="form-control input-lg" id="price" type="number" style="padding:10px; margin:0px;">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="counter" name="counter" value="1">
                            <div class="col-md-1" >
                                <div class="form-group" style="padding:0px; margin-right:0px;">
                                    <div class="col-md-12" style="padding:0px; margin:0px;">
                                        <input class="form-control input-lg" id="discount" type="number" style="padding:10px; margin:0px;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1" >
                                <div class="form-group" style="padding:0px; margin-right:0px;">
                                    <div class="col-md-12" style="padding:0px; margin:0px;">
                                        <input class="form-control input-lg" id="tax" type="text" style="padding:10px; margin:0px;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1" >
                                <button type="button" class="btn btn-primary" onclick="myFunction()" style="padding:10px; font-size:15px">+ Add line</button>
                            </div>
                            <script>
                                function myFunction() {
                                    <!--get value-->
                                    itemname = document.getElementById("itemname").value;
                                    unit = document.getElementById("unit").value;
                                    qty = document.getElementById("qty").value;
                                    price = document.getElementById("price").value;
                                    discount = document.getElementById("discount").value;
                                    tax = document.getElementById("tax").value;
                                    desc = document.getElementById("desc").value;
                                    counter = document.getElementById("counter").value;
                                    var table = document.getElementById("myTabl");
                                    var div1 = document.createElement("div");
                                    var div2 = document.createElement("div");

                                    <!--insert row-->

                                    var row = table.insertRow(counter-1);
                                    var cell1 = row.insertCell(0);
                                    var cell2 = row.insertCell(1);
                                    var cell3 = row.insertCell(2);
                                    var cell4 = row.insertCell(3);
                                    var cell5 = row.insertCell(4);
                                    var cell6 = row.insertCell(5);
                                    var cell7 = row.insertCell(6);
                                    var cell8 = row.insertCell(7);
                                    cell1.innerHTML = counter;
                                    div1.innerHTML = itemname
                                    div2.innerHTML = desc
                                    cell2.appendChild(div1);
                                    cell2.appendChild(div2);
                                    cell3.innerHTML = unit;
                                    cell4.innerHTML = qty;
                                    cell5.innerHTML = price;
                                    cell6.innerHTML = discount;
                                    cell7.innerHTML = tax;
                                    cell8.innerHTML = parseInt(qty) * parseInt(price) - parseInt(discount) * parseInt(price) / 100

                                    <!--empty cells-->
                                    document.getElementById("itemname").value = '';
                                    document.getElementById("unit").value = '';
                                    document.getElementById("qty").value = '';
                                    document.getElementById("price").value = '';
                                    document.getElementById("discount").value = '';
                                    document.getElementById("tax").value = '';
                                    document.getElementById("desc").value = '';

                                    <!--create dummy hidden field-->
                                    var item = document.createElement("input");
                                    item.type = "hidden";
                                    item.value = String(itemname);
                                    item.name = "item" + counter
                                    var unit1 = document.createElement("input");
                                    unit1.type = "hidden";
                                    unit1.value = unit;
                                    unit1.name = "unit" + counter
                                    var qty1 = document.createElement("input");
                                    qty1.type = "hidden";
                                    qty1.value = String(qty);
                                    qty1.name = "qty" + counter
                                    var price1 = document.createElement("input");
                                    price1.type = "hidden";
                                    price1.value = String(price);
                                    price1.name = "price" + counter
                                    var discount1 = document.createElement("input");
                                    discount1.type = "hidden";
                                    discount1.value = String(discount);
                                    discount1.name = "discount" + counter
                                    var tax1 = document.createElement("input");
                                    tax1.type = "hidden";
                                    tax1.value = String(tax);
                                    tax1.name = "tax" + counter
                                    var desc1 = document.createElement("input");
                                    desc1.type = "hidden";
                                    desc1.value = String(desc);
                                    desc1.name = "desc" + counter

                                    var hid = document.getElementById("hiddeninput");
                                    hid.appendChild(item);
                                    hid.appendChild(unit1);
                                    hid.appendChild(qty1);
                                    hid.appendChild(price1);
                                    hid.appendChild(discount1);
                                    hid.appendChild(tax1);
                                    hid.appendChild(desc1);

                                    document.getElementById("counter").value = parseInt(counter) + 1;

                                }
                            </script>
                        </div>
                    </div>
                </div>
                <div class="row" style="border-bottom: 1px solid #7a858f; padding-bottom:30px; padding-top:10px;">
                    <div class="col-md-1" style="padding:0px; margin:0px; border:10px"></div>
                    <div class="col-md-5">
                        <div class="form-group" style="padding:0px; margin:0px;">
                            <div class="col-md-12" style="padding:0px; margin:0px;">
                                <textarea class="form-control input-lg" rows="4" id="desc" style="padding:10px"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="border-bottom: 1px solid #7a858f; padding-bottom:10px; padding-top:20px;">
                    <div class="col-md-6">
                        <div class="checkbox" style="padding:0px 20px 20px 0px">
                            <label><input type="checkbox" name="shipping" value=""><span style="padding:20px">Add shipping charges</span></label>
                        </div>
                        <div class="checkbox" style="padding:0px 20px 20px 0px">
                            <label><input type="checkbox" name="adddiscount" value=""><span style="padding:20px">Add discount to all</span></label>
                        </div>
                        <div style="padding:0px 20px 20px 0px; color:#266a95;" >
                            + &ensp; Add advance payment
                        </div>
                        <div class="checkbox" style="padding:0px 20px 20px 0px">
                            <label><input type="checkbox" name="transport" value=""><span style="padding:20px">Transport labels</span></label>
                        </div>
                    </div>
                </div>
                <div class="row" style="border-bottom: 1px solid #7a858f; padding-bottom:30px; padding-top:20px; background-color:#f9fafb;">
                    <div class="col-md-6">
                        <p>Terms and Conditions</p>
                        <div class="form-group" style="padding:0px; margin:0px;">
                            <textarea class="form-control input-lg" rows="4" name="terms" style="padding:10px"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>Private notes&ensp;(not shown to client)</p>
                        <div class="form-group" style="padding:0px; margin:0px;">
                            <textarea class="form-control input-lg" name="notes" rows="4" style="padding:10px"></textarea>
                        </div>
                    </div>
                </div>
                <div class="fixed-bottom" style="padding-bottom:20px; padding-top:20px;">
                    <input type="submit" class="btn btn-success btn-lg" value="Preview and save">
                    <input type="button" class="btn btn-info btn-lg" value="Cancel">
                </div>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}