{% extends "dashboard.html" %}
{% block title %}HOME{% endblock %}
{% block style %}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

{% endblock %}


{% block content %}
    <div class="column2" style="height: 100%">
    <div class="card" style="height: 100%">
        <ul class="nav nav-pills" role="tablist">
            <li style="width: 10%; padding:10px;font-size: large; float:left">New Item</li>
            <li role="presentation" class="active" style="width: 10%;font-size: large; float:left"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Product</a></li>
            <li role="presentation" style="width: 10%;font-size: large; float:left"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Service</a></li>
        </ul>
        <hr  style="margin-top:20px">
        <div class="tab-content" style="height: 100%">
            <div role="tabpanel" class="tab-pane active" id="home" style="padding:0px; margin:0px; width:100%; height:100%">
                <form class="form-horizontal" style="height: 85%" action ="{% url 'save_product' %}" method="post">
                     {% csrf_token %}
                <div class="container-fluid" style="height: 85%">
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputlg1" class="col-sm-2 control-label" style="text-align:left">Name</label>
                            <div class="col-sm-10">
                                <input class="form-control input-lg" id="inputlg1" type="text" name="pname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputlg2" class="col-sm-2 control-label" style="text-align:left">Description</label>
                            <div class="col-sm-10">
                                <input class="form-control input-lg" id="inputlg2" type="text" name="pdesc">
                            </div>
                        </div>
                        <h4 style="margin-bottom:0px; margin-top:20px">Sales Info</h4>
                        <hr  style="margin-top:5px">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputlg3" class="col-sm-4 control-label" style="text-align:left">Unit Price</label>
                                    <div class="col-sm-8">
                                        <input class="form-control input-lg" id="inputlg3" name="psprice" type="text">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputlg4" class="col-sm-4 control-label" style="text-align:left">CESS%</label>
                                    <div class="col-sm-8">
                                        <input class="form-control input-lg" id="inputlg4" type="text" name ="pscesspercent">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputlg5" class="col-sm-4 control-label" style="text-align:left">Currency</label>
                                    <div class="col-sm-8">
                                        <input class="form-control input-lg" id="inputlg5" type="text" name ="pscurrency">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputlg6" class="col-sm-4 control-label" style="text-align:left">+ CESS</label>
                                    <div class="col-sm-8">
                                        <input class="form-control input-lg" id="inputlg6" type="text" name ="pscess">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="inputl1" class="col-sm-4 control-label" style="text-align:left">Quantity</label>
                                    <div class="col-sm-8">
                                        <input class="form-control input-lg" id="inputl1" type="text" name="pquant">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="inputl2" class="col-sm-4 control-label" style="text-align:left">Unit</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-lg sel" id="inputl2" name="punit">
                                            <option value="" ></option>
                                        {% for cl in unit %}
                                            <option value="{{ cl.unit_type }}" >{{ cl.unit_type }}</option>
                                        {% endfor %}
                                        {% for cl in userunit %}
                                            <option value="{{ cl.unit_type }}" >{{ cl.unit_type }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="inputl3" class="col-sm-4 control-label" style="text-align:left">Tax</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-lg sel" id="inputl3" name="ptax" >
                                            <option value="0" style="background-color: black;"></option>
                                        {% for cl in tax %}
                                            <option value="{{ cl.tax_category }} ({{ cl.tax_value }}%)" >{{ cl.tax_category }} ({{ cl.tax_value }}%)</option>
                                        {% endfor %}
                                        {% for cl in usertax %}
                                            <option value="{{ cl.tax_category }} ({{ cl.tax_value }}%)" >{{ cl.tax_category }} ({{ cl.tax_value }}%)</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputl01" class="col-sm-1 control-label" style="text-align:left">HSN</label>
                            <div class="col-sm-11">
                                <input class="form-control input-lg" id="inputl01" type="text" name="phsn">
                            </div>
                        </div>
                        <h4 style="margin-bottom:0px; margin-top:20px">Purchase Info</h4>
                        <hr  style="margin-top:5px">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputlg03" class="col-sm-4 control-label" style="text-align:left">Unit Price</label>
                                    <div class="col-sm-8">
                                        <input class="form-control input-lg" id="inputlg03" type="text" name="ppprice">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputlg04" class="col-sm-4 control-label" style="text-align:left">CESS%</label>
                                    <div class="col-sm-8">
                                        <input class="form-control input-lg" id="inputlg04" type="text" name="ppcesspercent">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputlg05" class="col-sm-4 control-label" style="text-align:left">Currency</label>
                                    <div class="col-sm-8">
                                        <input class="form-control input-lg" id="inputlg05" type="text" name="ppcurrency">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputlg06" class="col-sm-4 control-label" style="text-align:left">+ CESS</label>
                                    <div class="col-sm-8">
                                        <input class="form-control input-lg" id="inputlg06" type="text" name = "ppcess">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                    <hr>
                    <div class="fixed-bottom">
                        <input type="submit" class="btn btn-success btn-lg" value="Submit">
                        <input type="button" class="btn btn-info btn-lg" value="Cancel">
                    </div>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane container " id="profile" style="padding:0px; margin:0px; width:100%; height:100%">
                <form class="form-horizontal" style="height: 85%" method="post" action="{% url 'save_service' %}">
                    {% csrf_token %}
                    <div class="container-fluid" style="height: 85%">
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="1inputlg1" class="col-sm-2 control-label" style="text-align:left">Name</label>
                            <div class="col-sm-10">
                                <input class="form-control input-lg" id="1inputlg1" type="text" name="sname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="1inputlg2" class="col-sm-2 control-label" style="text-align:left">Description</label>
                            <div class="col-sm-10">
                                <input class="form-control input-lg" id="1inputlg2" type="text" name="sdesc">
                            </div>
                        </div>
                        <h4 style="margin-bottom:0px; margin-top:20px">Sales Info</h4>
                        <hr  style="margin-top:5px">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="2inputlg3" class="col-sm-4 control-label" style="text-align:left">Unit Price</label>
                                    <div class="col-sm-8">
                                        <input class="form-control input-lg" id="2inputlg3" type="text" name="ssprice">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="2inputlg4" class="col-sm-4 control-label" style="text-align:left">CESS%</label>
                                    <div class="col-sm-8">
                                        <input class="form-control input-lg" id="2inputlg4" type="text" name="sscesspercent">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="1inputlg5" class="col-sm-4 control-label" style="text-align:left">Currency</label>
                                    <div class="col-sm-8">
                                        <input class="form-control input-lg" id="1inputlg5" type="text" name="sscurrency">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="1inputlg6" class="col-sm-4 control-label" style="text-align:left">+ CESS</label>
                                    <div class="col-sm-8">
                                        <input class="form-control input-lg" id="1inputlg6" type="text" name="sscess">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="1inputl2" class="col-sm-4 control-label" style="text-align:left">Unit</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-lg sel" id="1inputl2" name="sunit">
                                            <option value="" ></option>
                                        {% for cl in unit %}
                                            <option value="{{ cl.unit_type }}" >{{ cl.unit_type }}</option>
                                        {% endfor %}
                                        {% for cl in userunit %}
                                            <option value="{{ cl.unit_type }}" >{{ cl.unit_type }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="1inputl3" class="col-sm-4 control-label" style="text-align:right">Tax</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-lg sel" id="1inputl3" name="ptstaxax" >
                                            <option value="0" style="background-color: black;"></option>
                                        {% for cl in tax %}
                                            <option value="{{ cl.tax_category }} ({{ cl.tax_value }}%)" >{{ cl.tax_category }} ({{ cl.tax_value }}%)</option>
                                        {% endfor %}
                                        {% for cl in usertax %}
                                            <option value="{{ cl.tax_category }} ({{ cl.tax_value }}%)" >{{ cl.tax_category }} ({{ cl.tax_value }}%)</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="1inputl01" class="col-sm-2 control-label" style="text-align:left">SAC</label>
                            <div class="col-sm-10">
                                <input class="form-control input-lg" id="1inputl01" type="text" name="ssac">
                            </div>
                        </div>
                        <h4 style="margin-bottom:0px; margin-top:20px">Purchase Info</h4>
                        <hr  style="margin-top:5px">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="1inputlg03" class="col-sm-4 control-label" style="text-align:left">Unit Price</label>
                                    <div class="col-sm-8">
                                        <input class="form-control input-lg" id="1inputlg03" type="text" name="spprice">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="1inputlg04" class="col-sm-4 control-label" style="text-align:left">CESS%</label>
                                    <div class="col-sm-8">
                                        <input class="form-control input-lg" id="1inputlg04" type="text" name="spcesspercent">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="1inputlg05" class="col-sm-4 control-label" style="text-align:left">Currency</label>
                                    <div class="col-sm-8">
                                        <input class="form-control input-lg" id="1inputlg05" type="text" name="spcurrency">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="1inputlg06" class="col-sm-4 control-label" style="text-align:left">+ CESS</label>
                                    <div class="col-sm-8">
                                        <input class="form-control input-lg" id="1inputlg06" type="text" name="spcess">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="fixed-bottom">
                    <input type="submit" class="btn btn-success btn-lg" value="Submit">
                    <input type="button" class="btn btn-info btn-lg" value="Cancel">
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}