{% extends "dashboard.html" %}
{% block title %}HOME{% endblock %}

{% block style %}

#top_base {
    height: 60px;
    border-bottom: 1px solid #DCDCDC;
}

a.left1 {
    float: right;
    margin-right: 10px;
    width: 100px;
}

button.left2 {
    float: right;
    margin-right: 10px;
    width: 100px;
    background-color: #f3f7f9;
    color: #808a92;
}

button.left0 {
    background-color: #f3f7f9;
    color: #808a92;
}
{% endblock %}

{% block content %}

<div id="top_base">
     <div class="dropdown">
        <button class="btn btn-default dropdown-toggle btn-lg left0" type="button" data-toggle="dropdown">Filter Items
        &ensp;<span class="caret"></span></button>
        <ul class="dropdown-menu" style="padding:20px; width:40%;">
          <form action="{% url 'filteritem' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                    <label for="inputlg1" class="control-label" style="text-align:left">Name</label>
                    <input class="form-control input-lg" id="inputlg1" type="text" name="name">
              </div>
              <div class="form-group">
                    <label for="inputlg3" class="control-label" style="text-align:left">Unit</label>
                    <select class="form-control input-lg sel" id="unit" name="unit">
                    <option value=""></option>
                        {% for cl in unit %}
                            <option value="{{ cl.unit_type }}" >{{ cl.unit_type }}</option>
                        {% endfor %}
                        {% for cl in userunit %}
                            <option value="{{ cl.unit_type }}" >{{ cl.unit_type }}</option>
                        {% endfor %}
                    </select>
              </div>
              <div class="form-group">
                  <div class="row">
                  <div class="col-sm-6">
                    <label for="inputlg4" class="control-label" style="text-align:left">Price Between</label>
                    <input class="form-control input-lg" id="inputlg4" type="number" name="price1">
                  </div>
                  <div class="col-sm-6">
                      <label for="inputlg4" class="control-label" style="text-align:left"></label>
                    <input class="form-control input-lg" id="inputlg5" type="text" name="price2">
                  </div>
                  </div>
              </div>
              <div class="form-group">
                  <div class="row">
                  <div class="col-sm-6">
                    <label for="inputlg4" class="control-label" style="text-align:left">Quantity Between</label>
                    <input class="form-control input-lg" id="inputlg4" type="number" name="quant1">
                  </div>
                  <div class="col-sm-6">
                      <label for="inputlg4" class="control-label" style="text-align:left"></label>
                    <input class="form-control input-lg" id="inputlg5" type="text" name="quant2">
                  </div>
                  </div>
              </div>
              <div class="form-group">
                    <label for="inputlg1" class="control-label" style="text-align:left">Type</label>
                    <select class="form-control input-lg sel" id="unit" name="type">
                        <option value=""></option>
                        <option value="Product">Product</option>
                        <option value="Service">Service</option>
                    </select>
              </div>
              <div>
              <input style="margin:10px 0px 5px 10px;padding:10px 30px 10px 30px;width:92%" type="submit" class="btn btn-success btn-lg" value="Apply">
                  </div>
          </form>
            <div>
                <form action="{% url 'clearitemfilter' %}">
                    <input style="margin:10px 0px 5px 10px;padding:10px 30px 10px 30px;width:92%" type="submit" class="btn btn-danger btn-lg" value="Clear filter">
                </form>
            </div>

        </ul>
        <button type="button" class="btn btn-default btn-lg left2" onclick="location.href ='{% url 'export_product' %}' ">Export</button>&ensp;
        <a data-toggle="modal" data-target ="#primary"><button type="button" class="btn btn-default btn-lg left2">Import</button></a>
        <a href="{% url 'new_product' %}" class="btn btn-success btn-lg left1" role="button">+ New</a>


    </div>
</div>
    <div class="modal fade" id="primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 align="center"><i class="fa fa-bar-chart-o"></i>Upload CSV File</h3>
                </div>
                <div class="modal-body">
                <form action="{%  url 'import_product' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
            <div class="col-md-8">
            <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
            </div>
            </div>
<div class="form-group">
    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
         <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
    </div>
        </div>
            </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

<div class="container" style="width: 100%">
    <div class="row" style="margin-left:-30px; margin-right:-30px">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped" align="right" cellpadding="0" cellspacing="0"  style="width:100%" id="myTable">
                              <thead class="thead-light" style="width:100%; background-color:#dce4e9">
                                <tr>
                                    <th class="col-sm-2">Name</th>
                                    <th class="col-sm-4">Description</th>
                                    <th class="col-sm-1" style="text-align:center;">Type</th>
                                    <th class="col-sm-2" style="text-align:center;">Price</th>
                                    <th class="col-sm-2" style="text-align:center;">Unit</th>
                                    <th class="col-sm-1" style="text-align:center;">Quantity</th>
                                </tr>
                              </thead>
                                <tbody id="myTabl" style="width:100%;">
                                {%  for x in ps %}
                                <tr>
                                    <td> {{  x.name }}</td>
                                    <td> {{ x.description }}</td>
                                    <td style="text-align:center"> {{  x.type }}</td>
                                    <td style="text-align:center"> {{ x.sales_unit_price }}</td>
                                    <td style="text-align:center"> {{ x.unit }}</td>
                                    <td style="text-align:center"> {{ x.quantity }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
</div>


{% endblock %}

